<div>
  <br />
  <br />
  <table>
    <tr>
      <td>Number</td>
      <td>formId</td>
      <td>formDescription</td>
      <td>questionNumber</td>
      <td>questionId</td>
      <td>questionText</td>
      <td>answerType</td>
      <td>questionGrouping</td>
    </tr>

    <tr *ngFor="let product of products; let i = index">
      <td>{{ i }}</td>
      <td>{{ product.formId }}</td>
      <td>{{ product.formDescription }}</td>
      <td>{{ product.questionNumber }}</td>
      <td>{{ product.questionId }}</td>
      <td>{{ product.questionText }}</td>
      <td>{{ product.answerType }}</td>
      <td>{{ product.questionGrouping }}</td>
    </tr>    
  </table>

  <br />
  <br />
  <table>
    <tr>
      <td>Number</td>
      <td>formId</td>
      <td>formDescription</td>
      <td>questionNumber</td>
      <td>questionId</td>
      <td>questionText</td>
      <td>answerType</td>
      <td>questionGrouping</td>
    </tr>

    <tr *ngFor="let product of products; let i = index">
      <td>{{ i }}</td>
      <td>{{ product.formId }}</td>
      <td>{{ product.formDescription }}</td>
      <td>{{ product.questionNumber }}</td>
      <td>{{ product.questionId }}</td>
      <td>{{ product.questionText }}</td>
      <td>{{ product.answerType }}</td>
      <td>{{ product.questionGrouping }}</td>
    </tr>    
  </table>
  
  </div>